<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="barc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="barc.Properties.Settings.barConnect" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\barcode.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <applicationSettings>
        <barc.Properties.Settings>
            <setting name="ip" serializeAs="String">
                <value>10.131.1.2</value>
            </setting>
            <setting name="re_time" serializeAs="String">
                <value>5</value>
            </setting>
        </barc.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
